.tweetContainer {
  margin-top: 2.5rem;
  width: 100%;

  display: flex;
  flex-direction: row;

  img {
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
  }

  .tweetDetails {
    margin-left: 1.5rem;
    border-bottom: 1px solid var(--gray-100);
    padding-bottom: 1.5rem;
    width: 100%;

    p {
      color: var(--gray-800);
      margin-top: 1rem;
      font-size: 1.4rem;
    }

    .tweetHeader {
      display: flex;
      flex-direction: row;
      align-items: center;

      h4 {
        margin-right: 0.875rem;
      }

      span {
        font-size: 1.4rem;
        font-weight: 400;

        &:last-child {
          margin-left: 0.5rem;
          padding-left: 0.5rem;
          position: relative;

          &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: var(--gray-100);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}